*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/properties
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/dictionaries/project.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown.xml
.idea/migrations.xml
.idea/runConfigurations.xml

# Sentry Config File
sentry.properties
