/build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/dictionaries/project.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown.xml
.idea/migrations.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/misc.xml